.card {
    display: flex !important;
    flex-direction: row !important;
    border-radius: 16px;
}
.small {
    width: 350px;
    height: 215px;
    margin: 10px;
}
.medium {
    width: 550px;
    height: 320px;
    margin: 25px;
}
.large {
    width: 450px;
    height: 444px;
    margin: 10px;
}
.card_imageContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    border-radius: 12px 0px 0px 12px;
    align-items: center;
}
.pink {
    background-color: #ddd0f9;
}
.yellow {
    background-color: #f5e7c2;
}
.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_details {
    width: 100%;
    padding: 5px;
    background-color: white;
    border-radius: 0px 12px 12px 0px;
}
.card_title {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: black;
}
.card_description {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: black;
    /* overflow: hidden; */
    width: 20ch;
}
@media (max-width: 1200px) {
    .medium {
        width: 450px;
        height: 250px;
        margin: 25px;
    }
    .large {
        width: 450px;
        height: 444px;
        margin: 10px;
    }
}
@media (max-width: 991) {
    .medium {
        width: 300px;
        height: 200px;
        margin: 25px;
    }
    .large {
        width: 450px;
        height: 444px;
        margin: 10px;
    }
}
@media (max-width: 768px) {
    .medium {
        width: 80vw;
        height: 320px;
        margin: 25px;
    }
    .large {
        width: 450px;
        height: 444px;
        margin: 10px;
    }
}
@media (max-width: 576px) {
    .medium {
        width: 80vw;
        height: 200px;
        margin: 25px;
    }
    .large {
        width: 90vw;
        height: 444px;
        margin: 10px;
    }
}
