.root {
    background-color: #FFFFFF;
    /* height: 400px; */
    font-family: 'Inter', sans-serif;
    color: #06053A;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 50px;
}

.card {
    display: flex;
}

.cardContent {
    margin: 24px;
    /* height: 100%; */
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContent > h1{
    font-size: 48px;
}

/* .actions {
    margin-top: auto;
} */

.registerBtn {
    background-color: white;
    border: 2px solid #06053A;
    margin-right: 12px;
    border-radius: 4px;
    padding: 4px 8px;
}

.moreBtn {
    background-color: #06053A;
    color: white;
    border: 2px solid #06053A;
    border-radius: 4px;
    padding: 4px 8px;
}

@media (max-width: 768px) {
    .root {
        min-height: 580px;
    }

    .card {
        flex-direction: column;
    }

    .card > img {
        height: 300px;
    }

    .cardContent {
        font-size: 16px;
        line-height: 24px;
        justify-content: space-between;
    }
}