.eventdetail {
    background-color: #06053a;
    min-height: 100vh;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 200px;
}
.eventdetail_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
    font-size: 120px;
    font-weight: bold;
    color: white;
}

.eventdetail_cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eventdetail_cards {
    display: flex;
    flex-direction: row;
}
@media (max-width: 992px) {
    .eventdetail_header {
        font-size: 100px;
    }
}
@media (max-width: 768px) {
    .eventdetail_header {
        font-size: 80px;
    }
    .eventdetail_cards {
        flex-direction: column;
    }
    .eventdetail_cardContainer {
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .eventdetail_header {
        font-size: 60px;
    }
    .eventdetail_cards {
        flex-direction: column;
    }
    .eventdetail_cardContainer {
        flex-direction: column;
    }
}
